services:
  app-back:
    build:
      context: ./back
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8081:8080"
    env_file:
      - .env
    depends_on:
      - db
    networks:
      - todo-network

  db:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "5433:5432"
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - todo-network

networks:
  todo-network:

volumes:
  db-data:
    driver: local
